{% extends 'base.html.twig' %}


   {% block login %}{% endblock %}
{% block userinfo %}
    <li><a href="faq.html" >

      <p class="d-flex-center-end"><i class=" xs-round-avatar">{% block userimg %}<img src="{{ asset('../../swr/web/uploads/') }}{{ u.image }}" class="" >{% endblock %}</i>{% block user %} {{ u }}{% endblock %} </p>




   </a></li>{% endblock %}

{% block logout %}  <li><a href="{{ path('fos_user_security_logout') }}">log out</a></li>{% endblock %}

{% block check %} {% endblock %}