
{% extends 'default/Back/squelette.html.twig' %}

{% block content %}

    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Charts Space</h1>

    </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Content Row -->
    <div class="row" style="margin-left: 4.5em">


        <div id="div_histogram"></div>


        <script type="text/javascript">

            {{ gc_draw(pie, 'div_histogram') }}

        </script>
    </div>

        <div class="row" style="margin-left: 4.5em">


            <div id="div_histogramm"></div>

            <script type="text/javascript">

                {{ gc_draw(orga, 'div_histogramm') }}

            </script>
        </div>


     </div>



    <!-- Div Zeyda ama khaleha -->

    </div>
{% endblock %}