{% extends 'default/Back/squelette.html.twig' %}
{% block title %} Category {% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category</h1>
        <a href="{{ asset('app_dev.php/ajoutcat') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle"></i> </i>  Add Category</a></div>

    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Modify</h6>
    </div>
    <div class="card-body">
    <form method="POST" id="formcat" >

    <div class="card-body">
        <div class="table-responsive">
                <table  id="dataTable" width="60%" border="0px" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Category name</th>
                        <th>
                            <input width="10%"  name="nomcat" type="text" class="form-control form-control-user" id="nomcat" value={{ cat.nomcat }}>
                            <span id="error"></span>
                        </th>

                    </tr>
                    </thead>
                    <tr>

                    <thead>
                    <input type="hidden" value={{ cat.idc }} name="idc">

                    <tr> </tr>
                    </thead>
                </table>
                </br>
                <input type="submit" name="modify" value="Modify"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            </form>
        </div>
    </div>
    <script>
        let myform = document.getElementById('formcat');
        let catt = document.getElementById('nomcat');
        let myregex = /^[a-zA-Z-\s]+$/;
        myform.addEventListener('submit',function (e) {
            if(catt.value.trim() == "")
            {
                let err = document.getElementById('error');
                err.innerHTML="**Champ is Empty**";
                err.style.color="red";
                e.preventDefault();
            }
            else if(myregex.test(catt.value) == false)
            {
                let err = document.getElementById('error');
                err.innerHTML="**The structure is not correct**";
                err.style.color="red";
                e.preventDefault();
            }
        });

    </script>

{% endblock %}