
{% extends 'default/Back/squelette.html.twig' %}

{% block content %}
    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Compaign</h1>
        <a href="{{ path ('compaign_space') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-arrow-left"></i> Compaign Space</a>
    </div>

    <!-- Content Row -->
    <div class="row">
        {{ form_start(f, {'method': 'post', 'action': path('cmp_add')}) }}



    </div>
{% endblock %}