{% extends 'base.html.twig' %}

{% block login %} {% endblock %}
{% block username %}
    <li><a href="faq.html" >
    <p class="d-flex-center-end"><i class=" xs-round-avatar"><img src="{{ asset('../../swr/web/uploads/') }}{{ u.image }}" class="" ></i> {{ u }} </p>
        </a></li>
{% endblock %}
 {% block logout %}       <li><a href="http://localhost/swr-web/web/app_dev.php/logout">log out</a></li>  {% endblock %}
{% block check %} {% endblock %}